<!DOCTYPE html>
<html lang="en" ng-app="test.app.Core">
<head>
    <meta charset="UTF-8">
    <title>Sintez Test</title>
    <link rel="stylesheet" href="bootstrap-3.3.2-dist/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/lodash/4.10.0/lodash.js"></script>
    <script src="./angular/angular.js"></script>
    <script src="./angular/core/core.module.js"></script>
    <script src="./angular/core/core.config.js"></script>
    <script src="./angular/core/core.run.js"></script>
    <script src="./angular/core/core.service.js"></script>
    <script src="./angular/core/core.controller.js"></script>
    <script src="./angular/core/ui-bootstrap-tpls-1.3.2.min.js"></script>
</head>
<body ng-controller="CoreController as vm">
<input type="number" name="amount" id="amount" class="form-control" min="1" max="50" value="10">
<select  ng-model="vm.selectedCategory" ng-options="category.id as category.name for category in vm.categories" class="form-control">
    <option selected value="">Any Category</option>
</select>
<select  ng-model="vm.selectedDifficulty" ng-options="dif.name for dif in vm.difficulty" class="form-control">
    <option selected value="">Any Difficulty</option>
</select>
<button class="btn btn-lg btn-primary btn-block" ng-click="vm.generateQuestions()">Generate API URL</button>

    <div ng-repeat="q in vm.questions">
        {{q.question}}
        <ul>
            <li ng-repeat="answer in q.incorrect_answers">{{answer}} <input id="{{q.answer}}" type="radio" name="{{q}}" ng-model="correctAnswer" value="{{answer}}" ng-click="vm.chosenAnswer(answer, q.correct_answer, q)" /></li>
        </ul>
        <div>{{vm.questions[$index]._result}}</div>
    </div>
    <div>
        Total Correct Answers: {{vm.totalCorrectAnswers}}
    </div>

</body>
</html>